<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" (click)="loggedIn()" routerLink="/">
                <span class="reddit-text">
                    Student Lance
                </span>
            </a>
        </div>
        <div class="flex-grow-1 float-right">
            <div  ngbDropdown class="float-right">
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  
                         
            <div *ngIf="!isLoggedInC && !isLoggedInU">
                <a (click)="loggedIn()" routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
                <a (click)="loggedIn()" routerLink="/create-company" class="float-right sign-up mr-2">Create Company</a>
                <a (click)="loggedIn()" routerLink="/login" class="float-right login mr-2">Login</a>
            </div>

            <div>
                <button (click)="loggedIn()"  *ngIf="isLoggedInU" class="userdetails" routerLink="/user-dashboard" id="dropdownBasic1" ngbDropdownToggle>
                    {{ user['firstname'] +' '+user['lastname']  }} <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                </button>
                <button (click)="loggedIn()" *ngIf="isLoggedInC" class="userdetails" routerLink="/company-dashboard" id="dropdownBasic1" ngbDropdownToggle>
                    {{ company['companyName']   }} <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_05_0DD3BB.png">
                </button>
            </div> 

                </div>
            </div>
        </div>
    </nav>
</header>