<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="form-group row">
                            <label for="firstname" class="col-md-4 col-form-label text-md-right">Firstname</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'firstname'" id="firstname" class="form-control" name="firstname" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('firstname').valid && signupForm.get('firstname').touched">
                                    Please provide a valid firstname
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lastname" class="col-md-4 col-form-label text-md-right">Lastname</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'lastname'" id="lastname" class="form-control" name="lastname" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('lastname').valid && signupForm.get('lastname').touched">
                                    Please provide a valid lastname
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input type="email" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                                    Please provide a valid email
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                                <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                                    Please provide a valid Password
                                </span>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'address'" id="address" class="form-control" name="address" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('address').valid && signupForm.get('address').touched">
                                    Please provide a valid address
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                            <div class="col-md-6">
                                <input type="tel" [formControlName]="'phone'" id="phone" class="form-control" name="phone" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched">
                                    Please provide a valid phone
                                </span>                                    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="education" class="col-md-4 col-form-label text-md-right">Education</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'education'" id="education" class="form-control" name="education" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('education').valid && signupForm.get('education').touched">
                                    Please provide a valid education
                                </span>                                    
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="experience" class="col-md-4 col-form-label text-md-right">Experience</label>
                            <div class="col-md-6">
                                <input type="number" [formControlName]="'experience'" id="experience" class="form-control" name="experience" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('experience').valid && signupForm.get('experience').touched">
                                    Please provide a valid experience
                                </span>                                    
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label for="skills" class="col-md-4 col-form-label text-md-right">Skills</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'skills'" id="skills" class="form-control" name="skills" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('skills').valid && signupForm.get('skills').touched">
                                    Please provide a valid skills
                                </span>                                    
                            </div>
                        </div>
 
  
                        <div class="form-group row">
                            <label for="photo" class="col-md-4 col-form-label text-md-right">Photo</label>
                            <div class="col-md-6">
                                <input type="file" [formControlName]="'photo'" id="photo" class="form-control" name="photo" required
                                  (change)="uploadFiles($event)"  autofocus>
                                <span *ngIf="!signupForm.get('photo').valid && signupForm.get('photo').touched">
                                    Please provide a valid photo
                                </span>                                    
                            </div>
                        </div>
  
                        <div class="form-group row">
                            <label for="introduction" class="col-md-4 col-form-label text-md-right">Introduction</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'introduction'" id="introduction" class="form-control" name="introduction" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('introduction').valid && signupForm.get('introduction').touched">
                                    Please provide a valid introduction
                                </span>                                    
                            </div>
                        </div>
 


                        <span class="col-md-6 offset-md-4">
                            <button  type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>