
{{ user }}
<p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" >
      <mat-label>Legacy form field</mat-label>
      <input  [disabled]='true' matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  